* {
    margin: 0;
    padding: 0;
}

body {
    background-color: dimgray;
}

p {
    color: white;
}

@media screen and (max-width:420px) {
    .slider{
    max-width: 275px;
    max-height: 125px;
    }
    .container {
        max-width: 420px;
        flex-direction: column;
    }
    }

.slider {
    width: 1100px;
    height: 600px;
    overflow: hidden;
    border-radius: 10px;
}

.middle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
}

.navigation {
    margin-left: 50px;
    display: flex;
}

.bar {
    height: 10px;
    width: 10px;
    margin: 6px;
    border-radius: 50%;
    cursor: pointer;
    background-color: lightblue;
    transition: all .4s ease;
    border: 1px solid lightblue;
}

.bar:hover {
    background-color: white;
}


input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
}

.slide {
    width: 25%;
    transition: all .6s ease;
}

.slide img {
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1 {
    margin-left: 0;
}

#r2:checked ~ .s1 {
    margin-left: -25%;
}

#r3:checked ~ .s1 {
    margin-left: -50%;
}

#r4:checked ~ .s1 {
    margin-left: -75%;
}

#r1:checked+#r2+#r3+#r4+.navigation>label:nth-child(1) {
    background-color: transparent;
    transition: .3s;
}

#r2:checked+#r3+#r4+.navigation>label:nth-child(2) {
    background-color: transparent;
    transition: .3s;
}

#r3:checked+#r3+#r4+.navigation>label:nth-child(3) {
    background-color: transparent;
    transition: .3s;
}

#r4:checked+.navigation>label:nth-child(4) {
    background-color: transparent;
    transition: .3s;
}

.container {
    max-width: 1100px;
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    
}

.text {
    width: 100%;
    overflow: hidden;
    display: flex;
}

.textovit {
    width: 25%;
    transition: all .6s ease;
}